// Color principal
$primary: #083851;
$success: #10cfbd;
$warning: #ffb700;
$error: #f55753;
$info: #45919d;

// Color spectre
$primary-color: $primary;
$success-color: $success;
$warning-color: $warning;
$error-color: $error;
$info-color: $info;

// Font
$base-font-family: Poppins, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;

// Font size
$font-size: 13px;

$unit-2: .65rem;
$unit-h: .15rem;

$dark-color: #495057;
